@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Roboto;
  margin: 0;
  /* background-color: #fefbf6; */
  /* color: #fefbf6; */
}